<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  {{ $navbar := resources.Get "css/navbar.css" | minify | fingerprint }}
  {{ $services := resources.Get "css/services.css" | minify | fingerprint }}
  {{ $footer := resources.Get "css/footer.css" | minify | fingerprint }}
  {{ $careers := resources.Get "css/careers.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $navbar.RelPermalink }}">
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="stylesheet" href="{{ $footer.Permalink }}">
  <link rel="stylesheet" href="{{ $services.Permalink }}">
  <link rel="stylesheet" href="{{ $careers.Permalink }}">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="9a9152d5-622e-4956-a0ae-99a470879ec4"></script>
</head>
<body>
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  <script>



    function toggleMenu() {
      const navLinks = document.getElementById("navLinks");
      const hamburger = document.getElementById("hamburger");
      const hamburgerIcon = hamburger.querySelector(".icon-hamburger");
      const closeIcon = hamburger.querySelector(".icon-close");
      const backIcon = document.querySelector(".back-btn");
      const topMenu = document.querySelector(".topMenu");
      const isMenuOpen = topMenu.classList.contains("active");

      navLinks.classList.remove("submenu-active");
      document.querySelectorAll("li.dropdown").forEach(li => li.classList.remove("active"));
      document.querySelectorAll(".dropdown-menu").forEach(menu => menu.classList.remove("active"));
      document.querySelectorAll(".subMenu").forEach(menu => menu.classList.remove("active"));

      navLinks.classList.toggle("active");
      hamburgerIcon.classList.toggle("active");
      closeIcon.classList.toggle("active");

      if (isMenuOpen) {
        backIcon.classList.remove("active");
  }
    }

    function openSubmenu(event, submid) {
        const subMenu = document.getElementById(submid);
        const backIcon = document.querySelector(".back-btn");
        subMenu.classList.add('active');
        backIcon.classList.add('active');
    }

    function goBackToMainMenu() {
        document.querySelectorAll(".subMenu").forEach(menu => menu.classList.remove("active"));
        const backIcon = document.querySelector(".back-btn");
        backIcon.classList.remove("active")
    }


    <!-- Cal element-click embed code begins -->
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "30min", {origin:"https://app.cal.com"});
  Cal.ns["30min"]("ui", {"hideEventTypeDetails":false,"layout":"month_view"});
<!-- Cal element-click embed code ends -->



  </script>
</body>
</html>
