<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  <script>
    function toggleMenu() {
      const navLinks = document.getElementById("navLinks");
      const hamburger = document.getElementById("hamburger");
      const hamburgerIcon = hamburger.querySelector(".icon-hamburger");
      const closeIcon = hamburger.querySelector(".icon-close");
      navLinks.classList.toggle("active");
      hamburgerIcon.classList.toggle("active");
      closeIcon.classList.toggle("active");
    }
    document.querySelectorAll('#navLinks a').forEach(link => {
      link.addEventListener('click', () => {
        document.getElementById("navLinks").classList.remove("active");
        document.querySelector(".icon-hamburger").classList.remove("active");
        document.querySelector(".icon-close").classList.remove("active");
      });
    });
  </script>
</body>
</html>
