.top-nav {
    background-color: white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.top-nav .topMenu{
    position: relative;  /* Important: allows dropdown-menu to position absolutely relative to li */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem;
}
.top-nav .topMenu li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding-left: 1rem;
    margin: 0 1rem 0 0;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;

}
.top-nav .topMenu li {
  position: relative;
}

.top-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;


}
.top-nav .logo  {
    display: flex;
    text-decoration: none;
}
.top-nav .logo img {
  height: 2.5rem;        /* Adjust as per text size */
  width: auto;

}

/* Parent li positioning */
.top-nav .nav-links{
    position: relative;  /* Important: allows dropdown-menu to position absolutely relative to li */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem;
}

.subMenu {
    display: none;
    position: absolute;
    top: 100%; /* Position just below the Services link */
    left: 0;
    background: #fff;
    padding: 1rem 0 0 0;
    list-style: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional: for better UI */
    z-index: 1000;
    white-space: nowrap;

}

/* Initial state */
.chevron {
    display: inline-block;
    margin: 0 0 0 0.5rem;
    transition: transform 0.3s ease;
}

/* Rotate chevron on hover only if not active */
.topMenuItem:not(.active):hover .chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* If dropdown is active (clicked), keep chevron normal */
.topMenuItem.active .chevron {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.top-nav .topMenu li:hover .subMenu {
  display: block;
}

.top-nav .nav-links li:hover .subMenu {
  display: block;
}

@media (max-width: 768px) {

    .chevron {
    display: none;
    }


  /* Hide all menu items by default when submenu is open */
  .topMenu.submenu-active > li {
    display: none;
  }

  /* Show only the active dropdown content */
  .nav-links.submenu-active > li.dropdown.active {
    display: block;
  }


  .topMenu .subMenu.active{
      display: block;

  }

}





