.top-nav {
    background-color: white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.top-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;

}
.top-nav .logo  {
    display: flex;
    text-decoration: none;
}
.top-nav .logo img {
  height: 3rem;           /* Adjust as per text size */
  width: auto;

}
.top-nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 1.5rem;
    padding-right: 5rem;


}
.top-nav .nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;

}
.top-nav .nav-links li {
  position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Position just below the Services link */
    left: 0;
    background: #fff;
    padding: 2rem;
    list-style: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Optional: for better UI */
    z-index: 1000;

}

/* Initial state */
.chevron {
    display: inline-block;
    margin: 0 0 0 0.5rem;
    transition: transform 0.3s ease;
}

/* Rotate on hover of the parent link */
.dropdown-toggle:hover .chevron {
  transform: rotate(180deg); /* flips down arrow to point up */
}



/* Hide the upward chevron unless active */
.chevron-up {
    display: none;
    margin: 2px;
    align-items: center;
}

.chevron-down {
    display: block;
    margin: 2px;
    align-items: center;
}

/* When active class is added to li > a */
li.active .dropdown-menu {
    display: block;
}

li.active > a {
    color: deeppink;
}


li.active .chevron-down {
    display: none;

}

li.active .chevron-up {
  display: inline-block;
}

/* Show on hover */
.top-nav .nav-links li:hover .dropdown-menu {
  display: block;
}

/* Chevron toggle on hover */
.top-nav .nav-links li .chevron-up {
  display: none;
}

.top-nav .nav-links li:hover .chevron-down {
  display: none;
}

.top-nav .nav-links li:hover .chevron-up {
  display: inline-block;
}