body{
    font-family: sans-serif;
    margin: 0;
    color: green;
}
ul, ol {
  list-style-type: none; /* Removes bullets/numbers */
  padding: 0;            /* Optional: remove default padding */
  margin: 0;             /* Optional: remove default margin */
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.back-btn {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .top-nav .topMenu {
        position: fixed;
        padding-right: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 4rem;
        font-size: 0.875rem;
        opacity: 1;
        pointer-events: auto;
        gap: 30px;
        transform: translateY(-100%);
        transition: transform 0.6s ease, opacity 1s ease;
        margin: 0
    }
    .top-nav .topMenu.active {
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 4rem;
        font-size: 1.5rem;
        font-weight: 500;
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);  /* Slide down to normal position */
    }
    .top-nav .topMenu.active li {
        padding-left: 1.5rem;
        color: black;
    }
    .top-nav .topMenu li {
        padding-left: 1.5rem;
        color: black;

    }

    .top-nav .topMenu .subMenu {
        display: none;
    }

    .topMenuItem > .subMenu {
        display: flex;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 6rem;
        transform: translateX(-100%);
        transition: transform 0.6s ease, opacity 1s ease;

    }

    .subMenu.active {
    transform: translateX(0);
}


    .hamburger {
        display: flex;
        z-index: 1001; /* keep above the menu */
        background: none;
        border: none;
        cursor: pointer;
    }

    .back-btn  {
        display: none;
        z-index: 10000; /* keep above the menu */
        background: none;
        border: none;
        cursor: pointer;
    }
    .back-btn.active  {
        display: block;
        z-index: 1001; /* keep above the menu */
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburger .icon-hamburger {
    width: 24px;                  /* desired width */
    height: 24px;                 /* desired height */
    display: block;               /* remove inline spacing */
    }
    .back-btn .icon-back {
        width: 24px;                  /* desired width */
        height: 24px;                 /* desired height */
        display: block;               /* remove inline spacing */
    }
    .hamburger .icon-close {
        width: 24px; /* desired width */
        height: 24px; /* desired height */
        display: none; /* remove inline spacing */
    }
    .hamburger .icon-hamburger.active {
        display: none;
    }
    .hamburger .icon-close.active {
        display: block;
        z-index: 10000;
        stroke: black;
    }
    .icon-close {
    width: 32px;
    height: 32px;
    stroke: black;
}


}

/*hero section*/

.hero-section {
    height: 100vh;
    text-align: center;

}
.hero-text {
  background-color: #ffffff;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}
.hero-text h1 {
    grid-column: 1 /-1;
  font-size: 4rem;
  font-weight: 700;
  color: #111827;
  line-height: 1.2;
  margin-bottom: 1rem;
  align-items: center;
    text-align: center;

}
.hero-text p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.25rem;
    color: #4b5563;
    margin-bottom: 2rem;
}
.hero-section a.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #494747;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
}
.hero-text a.cta-button:hover {
  background-color: #1e40af;
}
.hero-section img {
  max-width: 100%;
  height: auto;
}

