body {
    font-family: sans-serif;
    margin: 0;
    color: green;
}
ul, ol {
  list-style-type: none; /* Removes bullets/numbers */
  padding: 0;            /* Optional: remove default padding */
  margin: 0;             /* Optional: remove default margin */
}


/*hero section*/

.hero-section {
    height: 100vh;
    text-align: center;

}
.hero-text {
  background-color: #ffffff;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
}
.hero-text h1 {
    grid-column: 1 /-1;
  font-size: 4rem;
  font-weight: 700;
  color: #111827;
  line-height: 1.2;
  margin-bottom: 1rem;
  align-items: center;
    text-align: center;

}
.hero-text p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.25rem;
    color: #4b5563;
    margin-bottom: 2rem;
}
.hero-section a.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #494747;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
}
.hero-text a.cta-button:hover {
  background-color: #1e40af;
}
.hero-section img {
  max-width: 100%;
  height: auto;
}

