body{
    font-family: sans-serif;
    margin: 0;
    color: green;
}
.top-nav {
    background-color: white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.top-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;

}
.top-nav .logo  {
    display: flex;
    align-items: center;

}
.top-nav .logo a {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
}
.top-nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.top-nav .nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.top-nav .nav-links li a:hover {
    text-decoration: underline;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .top-nav .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 4rem;
        font-size: 24px;
        opacity: 1;
        pointer-events: auto;
        gap: 30px;
        transform: translateY(-100%);
        transition: transform 0.4s ease, opacity 0.5s ease;
    }
    .top-nav .nav-links.active {
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 4rem;
        font-size: 24px;
        opacity: 1;
        pointer-events: auto;

        transform: translateY(0);  /* Slide down to normal position */
    }
    .top-nav .nav-links.active li {
        padding-left: 1.5rem;
        color: black;
    }

    .top-nav .nav-links li {
        padding-left: 1.5rem;
        color: black;

    }

    .hamburger {
        display: flex;
        z-index: 1001; /* keep above the menu */
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburger .icon-hamburger {
    width: 24px;                  /* desired width */
    height: 24px;                 /* desired height */
    display: block;               /* remove inline spacing */
    }
    .hamburger .icon-close {
        width: 24px; /* desired width */
        height: 24px; /* desired height */
        display: none; /* remove inline spacing */
    }
    .hamburger .icon-hamburger.active {
        display: none;
    }
    .hamburger .icon-close.active {
        display: block;
        z-index: 10000;
        stroke: black;
    }
    .icon-close {
    width: 32px;
    height: 32px;
    stroke: black;
}
}