<section class="service-section">
  <div class="service-container">

    <!-- Left side: Service Name / Title -->
    <div class="service-name">
      <p>Cloud Engineering</p>
    </div>

    <!-- Right side: Service Content -->
    <div class="service-content">
      <p class="intro">
        Our vast expertise in cloud migration and workload optimization spans diverse projects and industries. We've distilled this knowledge into powerful solutions, empowering you to navigate the cloud swiftly and with confidence.
      </p>

      <div class="key-benefits">
        <h3>Why this matters</h3>
        <ul>
          <li><strong>Agility</strong> – Rapid scale, responsiveness to demand.
            Migrating lets you be dynamic rather than static.
          </li>
          <li><strong>Operational Efficiency</strong> – Offload infrastructure overhead, automate processes, and make your systems leaner.
          </li>
          <li><strong>Innovation at Scale</strong> – Beyond moving — it’s about leveraging cloud-native capabilities to build future-ready solutions.
          </li>
        </ul>
      </div>

      <div class="process">
        <h3>How we deliver</h3>
        <ul>
          <li><strong>Assessment</strong>  – We dig into your infrastructure, goals, and constraints to see what to move, modernize, or re-architect.</li>
          <li><strong>Strategy Development</strong> – Build a cloud adoption roadmap aligned to your business objectives.</li>
          <li><strong>Migration & Modernization</strong> – Execute with proven patterns and minimal disruption.</li>
          <li><strong>Optimization & Growth</strong> – Once live, we continuously optimize and help you harness advanced cloud services.</li>
        </ul>
      </div>


    </div>

  </div>
<!--  <div class="service-description">-->
<!--      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum-->
<!--  </div>-->
</section>
