<section class="hero-section">
    <div class="hero-text">
        <h1>Precision Engineering for Modern Cloud Systems</h1>
        <p>Expert DevOps and cloud consulting to help your business scale efficiently.</p>
    </div>
    <a href="#" class="cta-button" data-cal-link="techtious/30min"
    data-cal-namespace="30min"
    data-cal-config='{"layout":"month_view"}'>Book a Free Consultation</a>
<!--    <div class="hero-image">-->
<!--        <div>-->
<!--           Expert DevOps solutions designed to accelerate your delivery pipeline-->
<!--        </div>-->
<!--        <div>-->
<!--        <img src="/images/AIsplash4.jpg"-->
<!--     alt="Hero splash showing AI concept"-->
<!--     loading="lazy"-->
<!--     decoding="async" />-->
<!--    </div>-->

<!--    </div>-->

</section>

