<nav class="top-nav">
    <div class="container">
      <div class="logo">
        <img src="{{ "images/Logo.png" | relURL }}">
      </div>
      <button id="hamburger" class="hamburger" onclick="toggleMenu()">
        {{ with resources.Get "icons/hamburger.svg" }}
          <span class="icon-hamburger">{{ .Content | safeHTML }}</span>
        {{ end }}
        {{ with resources.Get "icons/close.svg" }}
          <span class="icon-close">{{ .Content | safeHTML }}</span>
        {{ end }}
      </button>
      <ul id="navLinks" class="nav-links">
        <li class="dropdown">
              <a id="services" href="{{ "#" | relURL }}" class="dropdown-toggle">
                Services
                {{ with resources.Get "icons/chevron-down.svg" }}
                <span class="chevron">{{ .Content | safeHTML }}</span>
                {{ end }}
            </a>

              <ul class="dropdown-menu">
                <li><a href="{{ "#" | relURL }}">Migration & Modernization</a></li>
                <li><a href="{{ "#" | relURL }}">Observability & SRE</a></li>
                <li><a href="{{ "#" | relURL }}">Cloud Engineering</a></li>
              </ul>
            </li>

        <li><a href="#">Solutions</a></li>
        <li><a href="https://blog.techtious.com">Blogs</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#" class="cta-button" data-cal-link="techtious/30min"
    data-cal-namespace="30min"
    data-cal-config='{"layout":"month_view"}'> Connect</a></li>
      </ul>
    </div>
</nav>